<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PY1709聊天室</title>
    <link rel="stylesheet" href="/static/css/chat.css">
    <script src="/static/js/jquery/jquery-2.2.4.min.js"></script>
</head>
<body>
<!-- 聊天室主窗口 -->
<div id="container">
    <!-- 标题窗口 -->
    <div id="title">
        欢迎进入PY1709聊天室
    </div>

    <!-- 历史信息窗口 -->
    <div id="history">
        <div class="message">
            <p>2017-12-29 12:00:00</p>
            <p>欢迎[XXX]进入py1709聊天室</p>
        </div>
    </div>

    <!-- 广告信息窗口 -->
    <div id="info">

    </div>

    <!-- 消息发送窗口 -->
    <textarea name="msg" id="msg" cols="30" rows="10"></textarea>
    <button id="send">发送</button>

    <script>
        var _websocket = new WebSocket("ws://192.168.10.152:8000/chats");

        _websocket.onmessage = function(e) {
            var _content = e.data;
            console.log(_content);
        }

        $("#send").click(function() {
            var $content = $("#msg").val();
            _websocket.send($content);
            $("#msg").val('');
        })
    </script>
</div>
</body>
</html>