<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <script src="{% static 'js/libs/jquery/jquery-2.2.4.min.js'%}"></script>
</head>
<body>
<h1>新用户注册</h1>
<h3>{{msg}}</h3>
<form action="{% url 'myblog:register' %}" method="post">
    {% csrf_token %}
    账号：<input type="text" name="username" id="username"><br />
    密码：<input type="password" name="password" id="password"><br />
    确认密码：<input type="password" name="confirm" id="confirm"><br />
    昵称：<input type="text" name="nickname" id="nickname"><br />
    验证码：
    <img src="/myblog/verify_code/" id="vcimg" alt="">
    <input type="text" name="vcode" id="vcode" placeholder="请输入验证码"><br />
    <input type="submit" value="注册">
</form>
<script>
    $(function() {
        $("#vcimg").click(function() {
            var _path = "/myblog/verify_code/?r="+new Date()
            $("#vcimg").attr("src", _path)
        })
    })
</script>
</body>
</html>