{% extends 'tempmark/base_temp/base_temp.html'%}

{% block title %}
这是T3页面
{% endblock %}

{% block content%}
T3页面来啦，替换原有内容
{% endblock %}

{% block box%}
<div class="panel panel-primary">
    <div class="panel-heading">面板标题</div>
    <ul class="list-group">
        <li class="list-group-item"><a href="">导航链接</a></li>
        <li class="list-group-item"><a href="">导航链接</a></li>
        <li class="list-group-item"><a href="">导航链接</a></li>
        <li class="list-group-item"><a href="">导航链接</a></li>
        <li class="list-group-item"><a href="">导航链接</a></li>
        <li class="list-group-item"><a href="">导航链接</a></li>
        <li class="list-group-item"><a href="">导航链接</a></li>
        <li class="list-group-item"><a href="">导航链接</a></li>
        <li class="list-group-item"><a href="">导航链接</a></li>
        <li class="list-group-item"><a href="">导航链接</a></li>
    </ul>
</div>
{% endblock %}